*{
padding: 0%;
margin: 0%;
box-sizing: border-box;
}
#datos{
    position: relative;
    top: 12vw;
}
body{
    background-image: url(/imagenes/indexfondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
   }
   .asis{
    font-size: large;
   }

.e-footer{
    position: absolute;
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto;
    text-align: center; 
    background-color: transparent;
}